.overlay {
    position: absolute;
    top: 20vh;
    left: 0 ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    color: $blanco;
    text-align: center;
    z-index: 0;
    margin: 0 auto;
    .eslogan{
        margin: 0 auto;
        font-size: 2.5rem;
        text-shadow: 2rem;
        text-align: center;
        color: $blanco;
        font-weight: bolder;
        text-shadow:
        1.5px 0 0 $oscuro,    
        -1.5px 0 0 $oscuro,   
        0 1.5px 0 $oscuro,    
        0 -1.5px 0 $oscuro;  
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
    }
}
.cnauto{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    max-width: 1200px; 
    justify-content: center;
    margin-bottom: 50px;
    .nauto{
        background-color: $blanco; 
        padding: 20px; 
        text-align: center; 
        flex: 1 1 calc(33.333% - 20px); 
        box-sizing: border-box;
        border: $oscuro solid 1px;
        border-radius: 7px;
        transition: all 0.5s;
        &:hover{
            background-color: $gris;
            transform: scale(1.2);
            img{
                transform: scale(1.1);
            }
        }
        img{
            max-width: 80%;
            height: auto;
        }
        &:nth-child(n+4) {
            flex: 1 1 calc(50% - 20px);
        }
        .consulmed{
            border-radius: 5px;
            background-color: $verde;
            text-decoration: none;
        }
        .linkwp{
            color: $blanco;
            text-decoration: none;
        }
    }
}