@import "_var";
@import "header";
@import "videos";
@import "main";
@import "footer";
@import "nosotros";
@import "nauto";
@import "404";



body, html{
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

